.map {
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  overflow: hidden;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}
